.appContainer {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.mainContainer {
  grid-column-start: 4;
  grid-column-end: 15;
  grid-row-start: 2;
  grid-row-end: 7;
  display: flex;
  justify-content: center;
}
