.listContainer {
  display: flex;
  height: 100%;
  width: 100%;
  border: 1px dashed gray;
  flex-direction: column;
  align-items: center;
}

.listTitle {
  padding: 4%;
  font-size: 2rem;
  background-color: whitesmoke;
  border: 1px dashed gray;
  width: 70%;
  text-align: center;
  text-transform: uppercase;
}

.listTitle:hover {
  background-color: rgb(230, 204, 204);
}
