.sidebarContainer {
  height: 100vh;
  border: 1px dashed gray;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 14;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dashed gray;
}
